body {
  margin: 0;
  font-family: 'Graphik-Regular','Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fw3{
  font-family:'Graphik-Regular';
}
.fw2{
  font-family:'Graphik-Light';
}

section{
  min-height: 40vh;
  margin: 2em 0;
}

::selection {
  background: #333; 
  color: white;
}
::-moz-selection {
  background: #333; 
  color: white;
}

/* .userItem{
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
} */

.digestive{
  font-family: 'Digestivev0.11trial-small';
}

.MainFooter{
  height: 200px;
  background: #CFD4D9;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3em;
}

.MainFooter a{
  margin: 0em 2em;
  font-size: .75em;
  color: #666;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 500;
}

button {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #fff;
  color: #333;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background-color: #333333;
  border-color: #333333;
  color: #fff;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.userItem{
  box-shadow: 0 12px 24px rgba(0,0,0,.05);
  transition: all .25s ease-in-out;
}
.form{
  box-shadow: 0 12px 24px rgba(0,0,0,.05);
  transition: all .25s ease-in-out;
}

.userItem:hover{
  box-shadow: 0 24px 36px rgba(0,0,0,.1);
  transform: scale(1.01);
}

.form:hover{
  box-shadow: 0 48px 48px rgba(0,0,0,.1);
}