body {
  margin: 0;
  font-family: 'MabryPro-Regular' 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family:'MabryPro-Regular';
}


::selection {
  background: #333; 
  color: white;
}
::-moz-selection {
  background: #333; 
  color: white;
}

/* .userItem{
  -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
} */

.digestive{
  font-family: 'Digestivev0.11trial-small';
}

.MainFooter{
  height: 200px;
  background: #CFD4D9;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3em;
}

.MainFooter a{
  margin: 0em 2em;
  font-size: .75em;
  color: #666;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: 500;
}